{% extends 'books/base.html' %}
{% load staticfiles %}

{% block body_block %}
<div class="jumbotron">
    <h1 class="display-3">Welcome to the Library.</h1>
    <p class="lead">A place to hold and share books.</p>
</div>
<div class="row marketing">
    <div class="col-lg-6">
        <h4>Most downloaded Books</h4>
        <p>
        {% if most_download_books %}
            {% for book in most_download_books %}
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{% url 'books:show_book' book.id %}">{{ book.title }} </a>by: {{ book.author }}
                        <span class="badge badge-pill badge-dark">{{ book.downloads }} downloads</span>
                    </li>
                </ul>
            {% endfor %}
        {% else %}
            <strong>No book uploaded yet.</strong>
        {% endif %}
        </p>
    </div>

    <div class="col-lg-6">
        <h4>Most Liked Books</h4>
        <p>
        {% if most_liked_books %}
            {% for book in most_liked_books %}
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{% url 'books:show_book' book.id %}">{{ book.title }} </a>by: {{ book.author }}
                        <span class="badge badge-pill badge-danger">{{ book.likes }} likes</span>
                    </li>
                </ul>
            {% endfor %}
        {% else %}
            <strong>No book uploaded yet.</strong>
        {% endif %}
        </p>
    </div>
</div>
{% endblock %}