{% extends 'books/base.html' %}
{% load staticfiles %}

{% block body_block %}
    {% if form %}
         <form role="form" id="book_form" method="post"
          action="{% url 'books:show_book' book.id %}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br />
            {{ field.label_tag }}
            {{ field }}<br />
        {% endfor %}
         <br />
        <button type="submit" name="update">Update</button>
    </form>
    {% else %}
        <p>No such book.</p>
    {% endif %}
{% endblock %}