{% extends 'books/base.html' %}
{% load staticfiles %}

{% block body_block %}
    {% if category %}
        <h1>{{ category.name }}</h1>
    {% else %}
        <p>No such category with that name.</p>
    {% endif %}
    {% if books %}
        {% for book in books %}
        <ul>
            <li><a href="{% url 'books:show_book' book.id %}">{{ book.title }}</a> - by {{ book.author }}</li>
        </ul>
        {% endfor %}
    {% else %}
        <p>No book under this category.</p>
    {% endif %}
    <p><a href="{% url 'books:add_book' category.slug %}">Add New Book</a></p>
{% endblock %}