{% extends 'books/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <div>
        <h1>{{ book.title }} - by: {{ book.author }}</h1>
        <a href="{% url 'books:edit_book' book.id %}">edit</a>
        <hr />
        <p><span>Tags:
                {% if tags %}
                    {% for tag in tags %}
                        {{ tag }}
                    {% endfor %}
                {% endif %}
            </span>
            <span>
                <form role="form" id="tag_form" method="post" action="{% url 'books:add_tag' book.id %}">
                    {% csrf_token %}
                    <input type="text" name="tag" id="id_tag" required maxlength="32" />
                    <button type="submit" name="submit">Add a new tag to this book</button>
                </form>
            </span>
        </p>
        {% if book.upload %}
            <p>Download the book at <a href="{{ MEDIA_URL }}{{ book.upload }}">{{ MEDIA_URL }}{{ book.upload }}</a></p>
        {% else %}
            <p>No e-book uploaded yet.</p>
        {% endif %}
        <hr />
        <ul>
            <li>publisher: {{ book.publisher }}</li>
            <li>Publish Date: {{ book.published_date }}</li>
            <li>URL: {{ book.related_url }}</li>
            <li>Description: {{ book.short_description }}</li>
        </ul>
    </div>

{% endblock %}